{% extends 'base.html' %}

{% block content %}
    <h1 class="stats-title">📊 Habit Stats</h1>
    <div class="stats-box">
       <p><strong>Total Habits:</strong> {{ stats.total_habits }}</p>
       <p>Completed Today: {{ stats.completed_habits }}</p>
       <p>Completion Rate: {{ stats.completion_rate }}%</p>


        <div style="margin: 15px 0;">
            <div style="background-color: #ddd; border-radius: 10px; height: 20px;">
                    {{ stats.completion_rate }}%
                </div>
            </div>
        </div>

        {% if stats.total_habits > 0 %}
            <p><strong>Keep going! You're on your way to achieving your goals! 💪</strong></p>
        {% else %}
            <p><strong>It looks like you don't have any habits yet. Start creating some!</strong></p>
        {% endif %}
    </div>
{% endblock %}
